/node_modules
/dist
/build
/.next

/coverage
/.nyc_output

/.editorconfig
/.env
/.eslintignore
/.gitattributes
/.gitignore
/.markdownlintignore
/.npmrc
/.prettierignore
/.yarnclean
/LICENSE
/yarn.lock


*.svg
*.ttf
*.woff

*.jpg
*.png
*.gif
*.ico

*.log

*.sh
*.xml
