.resume {
  @apply bg-yellow-10 p-3 shadow-md;
  @apply relative grid;
  grid-template-areas: none;
  grid-template-columns: 2.25fr 4.75fr;

  :global(.dark) & {
    @apply text-content;
    @apply bg-dark;
  }

  .content {
    @apply block;
  }
}

.content {
  @apply contents;
}

.name {
  grid-area: name;
}

.avatar {
  grid-area: avatar;
}

.contact {
  grid-area: contact;
}

.profile {
  grid-area: profile;
}

.education {
  grid-area: education;
}

.experience {
  grid-area: experience;

  span {
    @apply text-orange;
  }
}

.skill {
  grid-area: skill;
}

.award {
  grid-area: award;
}

.interests {
  grid-area: interests;
}

.references {
  grid-area: references;
}
