.resume {
    @apply bg-yellow-10 shadow-md;
    @apply grid;
    grid-template-areas:
        'name'
        'avatar'
        'contact'
        'profile'
        'education'
        'experience'
        'skill'
        'award'
        'interests'
        'references';

    @screen sm {
        grid-template-columns: 4fr 3fr;
        grid-template-areas:
            'name name'
            'contact avatar'
            'profile profile'
            'education education'
            'experience experience'
            'skill skill'
            'award award'
            'interests interests'
            'references references';
    }

    @screen md {
        grid-template-columns: 3.5fr 0.5fr 3fr;
        grid-template-areas:
            'name name name'
            'contact contact avatar'
            'profile profile profile'
            'education education education'
            'experience experience experience'
            'skill skill skill'
            'award award award'
            'interests references references';
    }

    @screen lg {
        grid-template-columns: 2.25fr 4.75fr;
        grid-template-areas: none;

        .content {
            @apply block;
        }
    }

    @screen xl {
        grid-template-columns: 2.5fr 5.5fr;
    }
}

.content {
    @apply contents;
}

.name {
    grid-area: name;
}
.avatar {
    grid-area: avatar;
}
.contact {
    grid-area: contact;
}
.profile {
    grid-area: profile;
}
.education {
    grid-area: education;
}
.experience {
    grid-area: experience;
}
.skill {
    grid-area: skill;
}
.award {
    grid-area: award;
}
.interests {
    grid-area: interests;
}
.references {
    grid-area: references;
}
