.resume {
    grid-template-areas:
        'name'
        'avatar'
        'contact'
        'profile'
        'education'
        'experience'
        'skill'
        'award'
        'interests'
        'references';

    @apply bg-yellow-10 shadow-md;
    @apply relative grid;

    @screen sm {
        grid-template-areas:
            'name name'
            'contact avatar'
            'profile profile'
            'education education'
            'experience experience'
            'skill skill'
            'award award'
            'interests interests'
            'references references';
        grid-template-columns: 4fr 3fr;
    }

    @screen md {
        grid-template-areas:
            'name name name'
            'contact contact avatar'
            'profile profile profile'
            'education education education'
            'experience experience experience'
            'skill skill skill'
            'award award award'
            'interests references references';
        grid-template-columns: 3.5fr 0.5fr 3fr;
    }

    @screen lg {
        grid-template-areas: none;
        grid-template-columns: 2.25fr 4.75fr;

        .content {
            @apply block;
        }
    }

    @screen xl {
        grid-template-columns: 2.5fr 5.5fr;
    }

    :global(.dark) & {
        @apply text-content;
        @apply bg-dark;
    }
}

.content {
    @apply contents;
}

.name {
    grid-area: name;
}

.avatar {
    grid-area: avatar;
}

.contact {
    grid-area: contact;
}

.profile {
    grid-area: profile;
}

.education {
    grid-area: education;
}

.experience {
    grid-area: experience;

    span {
        @apply text-orange;
    }
}

.skill {
    grid-area: skill;
}

.award {
    grid-area: award;
}

.interests {
    grid-area: interests;
}

.references {
    grid-area: references;
}
