/* stylelint-disable no-descending-specificity */
.line {
    @apply relative;

    &::after {
        content: '';

        @apply absolute inset-x-0 inset-y-0;
        @apply bg-gray-800;
        @apply mx-auto w-0.5;

        :global(.dark) & {
            @apply bg-line;
        }
    }

    &.no-line::after {
        @apply hidden;
    }

    &.dot {
        &::before {
            content: '';

            @apply absolute inset-x-0;
            @apply mx-auto mt-1.5 h-3 w-3;
            @apply rotate-45 transform;
            @apply bg-gray-800;
            @apply transition duration-200;

            :global(.dark) & {
                @apply bg-content;
            }
        }

        &:hover::before {
            @apply -rotate-45;

            :global(.dark) & {
                @apply bg-orange;
            }
        }

        &::after {
            @apply top-6;
        }
    }

    &.slash {
        &::before {
            content: '';

            @apply absolute inset-x-0 left-1/2 -top-1;
            @apply origin-top-left rotate-45 transform;
            @apply h-1.5px w-5 rounded-full;
            @apply bg-gray-800;

            :global(.dark) & {
                @apply bg-line;
            }
        }
    }

    > svg {
        box-shadow: 0 0 0 0.5rem #fef9ed;

        @apply absolute inset-x-0 z-10;
        @apply top-0.5;
        @apply mx-auto;
        @apply bg-yellow-10;

        &:hover {
            :global(.dark) & {
                @apply text-orange;
            }
        }

        :global(.dark) & {
            box-shadow: 0 0 0 0.5rem #0d1117;

            @apply bg-dark;
        }
    }

    &.base {
        > svg {
            @apply top-1;
        }
    }

    &.bottom {
        > svg {
            @apply bottom-3.5 top-auto;
        }

        &:nth-last-child(2) > svg {
            @apply bottom-0.5;
        }
    }
}

.content {
    @apply ml-1 mb-3 text-sm;
    @apply self-end;

    &:last-child {
        @apply mb-0;
    }
}
