.toggle {
  @apply absolute;
  @apply right-12 top-10 h-8 w-17;
  @apply rounded-full;
  @apply transition-all duration-700;
  @apply bg-orange;
  @apply cursor-pointer;

  :global(.dark) & {
    @apply bg-gray-600;
  }
}

.inner {
  @apply absolute;
  @apply left-1 top-1 h-6 w-6;
  @apply rounded-full;
  @apply bg-white;
  @apply transition-all duration-700;
  @apply overflow-hidden;

  > svg {
    @apply transition-all duration-700;
    @apply absolute h-6 p-1;
    fill: theme('colors.orange');

    :global(.dark) & {
      fill: theme('colors.gray.800');
    }

    &.sun {
      @apply left-0;

      :global(.dark) & {
        @apply left-6;
      }
    }

    &.moon {
      @apply -left-6;

      :global(.dark) & {
        @apply left-0;
      }
    }
  }

  :global(.dark) & {
    @apply left-10;
  }
}
